<!DOCTYPE html>

<html lang="">
<head>
<script data-ad-client="ca-pub-8663458666354140" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <title> Tech books </title>
    <link rel="icon" href="{{ url_for('static', filename='img/icons8-pdf-30.png') }}">


<meta name="google-site-verification" content="rrQA4LntBNrfKtPG5uq_M8Db_31WBEa50hV8ePT_yvw" />
<meta charset="utf-8" name="description" content="Programming is one of the most sought-after professional fields in the world. It presents candidates with a galore of opportunities to learn and earn, Download free java, linux, perl, microsoft, python, AI, articles, networking, oracle, graphics,goole, html, ios, .net and many more pdfs for free">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progressbar_barfiller.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/gijgo.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/animated-headline.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
<style>
    
* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background:black;
  color: white;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #000099;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
    
    
</style>

</head>
<body>

    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/icons8-pdf-100.png') }}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top ">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-lg-between align-items-center">
                                <div class="header-info-left">
                                    <li class="d-none d-lg-block">
                                        <div class="form-box f-right">
                                            <div class="logo">
                                        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.jpg') }}" alt=""></a>
                                    </div>
                                        </div>
                                     </li>
                                </div>
                                <!--<div class="header-info-mid">-->
                                    <!-- logo -->
                                   
                
                                <!--</div>-->
                                <div class="header-info-right d-flex align-items-center">
                                   <ul>
                                       <!--<li><a href="#">Download 1000 books</a></li>-->
                                       <li><a href="https://www.facebook.com/114082220780293/photos/a.114085490779966/114083770780138">Follow Us</a></li>
<!--                                       <li><a href="#">Follow Us</li>-->
                                   </ul>
                                   <!-- Social -->
                                   <div class="header-social">
{#                                        <a href="#"><i class="fab fa-twitter"></i></a>#}
                                        <a href="https://www.facebook.com/114082220780293/photos/a.114085490779966/114083770780138"><i class="fab fa-facebook-f"></i></a>
{#                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>#}
                                    </div>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <!-- logo 2 -->
                                <div class="logo2">
                                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.jpg') }}" alt=""></a>
                                   
                                </div>
                                  <!-- logo 3 -->
                                <div class="logo3 d-block d-sm-none">
                                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/mobile.jpg') }}" alt=""></a>
                        
                                </div>
                               
                                <!-- Main-menu -->
                                <div class="main-menu text-center d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href='{{ url_for("books_navigation", nav="networking")}}'>Networking</a></li>
                                                <li><a href='{{ url_for("books_navigation", nav="Computer Hardware")}}'>Computer Hardware</a></li>
                                                <li><a href='{{ url_for("books_navigation", nav="NodeJs")}}'>Nodejs</a></li>
                                                <li><a href='{{ url_for("books_navigation", nav="Mathematics")}}'>Mathematics</a></li>
                                                <li><a href='{{ url_for("books_navigation", nav="c-sharp")}}'>C-sharp</a></li>
                                                <li><a href='{{ url_for("books_navigation", nav="linux")}}'>Linux</a></li>
                                                <li><a href='{{ url_for("books_navigation", nav="software")}}'>software</a></li>
                                                <li><a href='{{ url_for("books_navigation", nav="HTML5")}}'>HTML 5</a></li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            
                                
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

   <div class="page-notification" style= "background-color:white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="breadcrumb">
                            <!--<ol class="breadcrumb justify-content-center">-->
                    
                                 <form class="example" action="{{url_for("search")}}">
                                  <input type="text" placeholder="Search..(python, golang, java, perl, linux, hacking" name="search">
                                     <button type="submit"><i class="fa fa-search"></i></button>
                                  </form>

                            <!--</ol>-->
                        </nav>
                    </div>
                </div>
            </div>
            
        <br>
        <br>


{% block content %}
{% endblock %}


 <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="header-area">
                <div class="main-header ">
                    <div class="header-top d-lg-block d-none">
                       <div class="container">
                           <div class="col-xl-12">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="header-info-left d-flex justify-content-center">
                                        <!-- Social -->
{#                                        <div class="header-social">#}
{#                                            <a href="#"><i class="fab fa-twitter"></i></a>#}
{#                                            <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>#}
{#                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>#}
{#                                        </div>#}
                                    </div>
                                    <div class="header-info-mid">
                                        <!-- logo -->
                                        <div class="logo">
                                            <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                                        </div>
                                    </div>
{#                                    <div class="header-info-right d-flex align-items-center">#}
{#                                       <ul>#}
{#                                           <li><a href="about.html">About</a></li>#}
{#                                           <li><a href="contact.html">Contact</a></li>#}
{#                                       </ul>#}
{#                                    </div>#}
                                </div>
                           </div>
                       </div>
                    </div>
                   <div class="header-bottom header-bottom2 ">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <!-- Main-menu -->
                                    <div class="main-menu text-center">
                                        <nav>
                                            <ul>
                                                <li><a href='{{ url_for("books_navigation", nav="artifical intelligence")}}'>artifical intelligence</a></li>
                                                <li><a href='{{ url_for("books_navigation", nav="Blockchain")}}'>Blockchain</a></li>
                                                 <li><a href='{{ url_for("books_navigation", nav="sap")}}'>Sap</a></li>
                                                <li><a href='{{ url_for("books_navigation", nav="windows")}}'>Windows</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
           </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right text-center">

  <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
    
    
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->



<!-- Javascript Code -->

<script src="{{url_for('static', filename = 'js/vendor/modernizr-3.5.0.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/vendor/jquery-1.12.4.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/jquery.slicknav.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/slick.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/wow.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/animated.headline.js')}}"></script>
<script src="{{url_for('static', filename = 'js/jquery.magnific-popup.js')}}"></script>
<script src="{{url_for('static', filename = 'js/gijgo.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/jquery.nice-select.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/jquery.sticky.js')}}"></script>
<script src="{{url_for('static', filename = 'js/jquery.barfiller.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/waypoints.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/jquery.countdown.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/hover-direction-snake.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/jquery.validate.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/mail-script.js')}}"></script>
<script src="{{url_for('static', filename = 'js/contact.js')}}"></script>
<script src="{{url_for('static', filename = 'js/jquery.ajaxchimp.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'js/plugins.js')}}"></script>
<script src="{{url_for('static', filename = 'js/main.js')}}"></script>



</body>

</html>

